<!DOCTYPE html>
<html>
<head>
    <title>Song Player</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body class="body">
    <div class="center">
    <audio controls>
        <source src="{{ song }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    <!--
    <style>
        .body
        {
            background-color: rgba(1, 23, 16, 0.557);
            position: center;
        }
  
        .center
        {
            width: 350px;
            margin: auto;
            background-color: rgb(238, 235, 231);
            padding: 30px;
            box-shadow: 10px 5px 5px rgb(53, 2, 2);
            position: center;
            
        }
    </style>
-->
</body>
</html>